d18a/mapping/24APR18 v6 2/uncefact/data/standard/AAAJournalBookMessage_3p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== AAAJournalBookMessage Schema Module                        ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 3.0
Schema date:    03NOV17

Copyright (C) UN/CEFACT (OV17). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:AAAJournalBookMessage:3" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" targetNamespace="urn:un:unece:uncefact:data:standard:AAAJournalBookMessage:3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" schemaLocation="UnqualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" schemaLocation="QualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" schemaLocation="ReusableAggregateBusinessInformationEntity_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="AAAJournalBookMessage" type="rsm:AAAJournalBookMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>AAAJB</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>AAAJournalBookMessage</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>The cyclic conveyance of formalised set(s) of information, according to generally admitted accounting principles, which are related to facts, events, goods property transfer, assets, materials, supplies, works, etc., tracking  flows of monetary values into a set of accounts in use in an entity.</ccts:Definition>
        <ccts:BusinessProcessContextValue>Journal Book Message</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>In All Contexts</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>International, National, Local Generally Admitted Accounting Principles and Regulations</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>Accounting, Audit</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: AAAJournalBookMessageType             ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="AAAJournalBookMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>AAAJB-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>AAA_ Journal Book Message. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>The cyclic conveyance of formalised set(s) of information, according to generally admitted accounting principles, which are related to facts, events, goods property transfer, assets, materials, supplies, works, etc., tracking  flows of monetary values into a set of accounts in use in an entity.</ccts:Definition>
        <ccts:ObjectClassTerm>Journal Book Message</ccts:ObjectClassTerm>
        <ccts:ObjectClassQualifierTerm>AAA</ccts:ObjectClassQualifierTerm>
        <ccts:BusinessProcessContextValue>Journal Book Message</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>In All Contexts</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>International, National, Local Generally Admitted Accounting Principles and Regulations</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>Accounting, Audit</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AAAJournalBookDayBook" type="ram:AAAJournalBookDayBookType" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN01011950</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>AAA_ Journal Book Message. AAA Journal Book_ Day Book</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>A collection of data for a piece of written, printed, or electronic matter that is an originator of one or more accounting entries.</ccts:Definition>
            <ccts:Cardinality>1..n</ccts:Cardinality>
            <ccts:ObjectClassTerm>Journal Book Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>AAA</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Day Book</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>AAA Journal Book</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Journal Book Message</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>In All Contexts</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>International, National, Local Generally Admitted Accounting Principles and Regulations</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>Accounting, Audit</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
