d18a/mapping/24APR18 v6 2/uncefact/data/standard/CoreComponentType_2p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== Core Component Type Schema Module                                                          ===== -->
<!-- ====================================================================== -->
<!--
  	Scheme agency: 	UN/CEFACT
  	Scheme version:	2.0
  	Schema date: 	03NOV17        
  	
  	Copyright (C) UN/CEFACT (2007). All Rights Reserved.

	This document and translations of it may be copied and furnished to others, 
	and derivative works that comment on or otherwise explain it or assist 
	in its implementation may be prepared, copied, published and distributed, 
	in whole or in part, without restriction of any kind, provided that the 
	above copyright notice and this paragraph are included on all such copies 
	and derivative works. However, this document itself may not be modified in 
	any way, such as by removing the copyright notice or references to 
	UN/CEFACT, except as needed for the purpose of developing UN/CEFACT 
	specifications, in which case the procedures for copyrights defined in the 
	UN/CEFACT Intellectual Property Rights document must be followed, or as 
	required to translate it into languages other than English.

	The limited permissions granted above are perpetual and will not be revoked 
	by UN/CEFACT or its successors or assigns.


	This document and the information contained herein is provided on an "AS IS"
	basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING 
	BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL 
	NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR 
	FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema 
	version="2.0"
	targetNamespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" 
	xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- =================================================================== -->
	<!-- ===== Type Definitions                                        ===== -->
	<!-- =================================================================== -->
	<!-- ===== Amount. Type                                            ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000001</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Amount</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>decimal</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Amount. Currency. Identifier</ccts:Name>
							<ccts:Definition>The currency of the amount.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="currencyCodeListVersionID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Amount Currency. Code List Version. Identifier</ccts:Name>
							<ccts:Definition>The VersionID of the UN/ECE Rec9 code list.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Binary Object. Type                                     ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="BinaryObjectType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000002</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Binary Object</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>binary</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Format. Text</ccts:Name>
							<ccts:Definition>The format of the binary content.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mimeCode" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Mime. Code</ccts:Name>
							<ccts:Definition>The mime type of the binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="encodingCode" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Encoding. Code</ccts:Name>
							<ccts:Definition>Specifies the decoding algorithm of the binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="characterSetCode" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Character Set. Code</ccts:Name>
							<ccts:Definition>The character set of the binary object if the mime type is text.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the binary object is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="fileName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. File. Name</ccts:Name>
							<ccts:Definition>The filename of the binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Code. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000003</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Code</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
				<ccts:UsageRule>Should not be used if the character string identifies an instance of an object class or an object in the real world, in which case the Identifier. Type should be used.</ccts:UsageRule>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="listID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Identifier</ccts:Name>
							<ccts:Definition>The identification of a list of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listAgencyID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Agency. Identifier</ccts:Name>
							<ccts:Definition>An agency that maintains one or more lists of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listAgencyName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Agency Name. Text</ccts:Name>
							<ccts:Definition>The name of the agency that maintains the list of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Name. Text</ccts:Name>
							<ccts:Definition>The name of a list of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listVersionID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Version. Identifier</ccts:Name>
							<ccts:Definition>The version of the list of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="name" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code. Name. Text</ccts:Name>
							<ccts:Definition>The textual equivalent of the code content component.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="languageID" type="xsd:language" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Language. Identifier</ccts:Name>
							<ccts:Definition>The identifier of the language used in the code name.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the code list is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List Scheme. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the code list scheme is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Date Time. Type                                         ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000004</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Date Time</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Date Time. Format. Text</ccts:Name>
							<ccts:Definition>The format of the date time content</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Identifier. Type                                        ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="IDType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000005</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Identifier</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="schemeID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Identifier</ccts:Name>
							<ccts:Definition>The identification of the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Name. Text</ccts:Name>
							<ccts:Definition>The name of the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeAgencyID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Agency. Identifier</ccts:Name>
							<ccts:Definition>The identification of the agency that maintains the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Agency Name. Text</ccts:Name>
							<ccts:Definition>The name of the agency that maintains the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeVersionID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Version. Identifier</ccts:Name>
							<ccts:Definition>The version of the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme Data. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the identification scheme data is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the identification scheme is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Indicator. Type                                         ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000006</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Indicator</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Indicator. Format. Text</ccts:Name>
							<ccts:Definition>Whether the indicator is numeric, textual or binary.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Measure. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000007</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Measure</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>decimal</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Measure. Unit. Code</ccts:Name>
							<ccts:Definition>The type of unit of measure.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Measure Unit. Code List Version. Identifier</ccts:Name>
							<ccts:Definition>The version of the measure unit code list.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Numeric. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="NumericType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000008</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Numeric</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Numeric. Format. Text</ccts:Name>
							<ccts:Definition>Whether the number is an integer, decimal, real number or percentage.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Quantity. Type                                          ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000009</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A counted number of non-monetary units possibly including fractions.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Quantity</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>decimal</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Quantity. Unit. Code</ccts:Name>
							<ccts:Definition>The unit of the quantity</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="unitCodeListID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Quantity Unit. Code List. Identifier</ccts:Name>
							<ccts:Definition>The quantity unit code list.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="unitCodeListAgencyID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Quantity Unit. Code List Agency. Identifier</ccts:Name>
							<ccts:Definition>The identification of the agency that maintains the quantity unit code list</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="unitCodeListAgencyName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Quantity Unit. Code List Agency. Name</ccts:Name>
							<ccts:Definition>The name of the agency which maintains the quantity unit code list.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Text. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UNDT000010</ccts:UniqueID>
				<ccts:Acronym>CCT</ccts:Acronym>
				<ccts:DictionaryEntryName>Text. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
				<ccts:PrimaryRepresentationTerm>Text</ccts:PrimaryRepresentationTerm>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Language. Identifier</ccts:Name>
							<ccts:Definition>The identifier of the language used in the content component.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="languageLocaleID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Language Locale. Identifier</ccts:Name>
							<ccts:Definition>The identification of the locale of the language.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>