d18a/mapping/24APR18 v6 2/uncefact/data/standard/CropDataSheetMessage_17p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== CropDataSheetMessage Schema Module                         ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 17.1
Schema date:    03NOV17

Copyright (C) UN/CEFACT (OV17). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:CropDataSheetMessage:17" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" targetNamespace="urn:un:unece:uncefact:data:standard:CropDataSheetMessage:17" elementFormDefault="qualified" attributeFormDefault="unqualified" version="17.1">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" schemaLocation="UnqualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" schemaLocation="QualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" schemaLocation="ReusableAggregateBusinessInformationEntity_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="CropDataSheetMessage" type="rsm:CropDataSheetMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>8feebd49-95cc-4dcf-a91b-7d43c2a8844a</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>CropDataSheetMessage</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>Crop data sheet information exchanged between farmers and their partners.</ccts:Definition>
        <ccts:BusinessProcessContextValue>Crop Data Sheet</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>European, National, Local Regulations</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>Arable Crop</ccts:ProductContextValue>
        <ccts:IndustryContextValue>Agricultural</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: CropDataSheetMessageType              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CropDataSheetMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>8feebd49-95cc-4dcf-a91b-7d43c2a8844a-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>Crop Data Sheet Message. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>Crop data sheet information exchanged between farmers and their partners.</ccts:Definition>
        <ccts:ObjectClassTerm>Crop Data Sheet Message</ccts:ObjectClassTerm>
        <ccts:BusinessProcessContextValue>Crop Data Sheet</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>European, National, Local Regulations</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>Arable Crop</ccts:ProductContextValue>
        <ccts:IndustryContextValue>Agricultural</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AgriculturalPlot" type="ram:AgriculturalPlotType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>b121c1a2-9f98-4091-94ee-7e1efe943d5c</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Crop Data Sheet Message. Agricultural_ Plot</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>A small piece of land used in agriculture.</ccts:Definition>
            <ccts:Cardinality>0..n</ccts:Cardinality>
            <ccts:ObjectClassTerm>Crop Data Sheet Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Plot</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Agricultural</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Crop Data Sheet</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>European, National, Local Regulations</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>Arable crop</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Agricultural</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CropDataSheetDocument" type="ram:CropDataSheetDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>358bcb14-dfd1-47d2-ba1c-09e0ef762085</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Crop Data Sheet Message. Crop Data Sheet_ Document</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>A detailed description of a crop, used for administrative or traceability purposes.</ccts:Definition>
            <ccts:Cardinality>0..n</ccts:Cardinality>
            <ccts:ObjectClassTerm>Crop Data Sheet Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Crop Data Sheet</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Crop Data Sheet</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>European, National, Local Regulations</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>Arable crop</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Agricultural</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
