d18a/mapping/24APR18 v6 2/uncefact/data/standard/RequestForTenderInformation_19p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== RequestForTenderInformation Schema Module                  ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 19.1
Schema date:    03NOV17

Copyright (C) UN/CEFACT (OV17). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:RequestForTenderInformation:19" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" targetNamespace="urn:un:unece:uncefact:data:standard:RequestForTenderInformation:19" elementFormDefault="qualified" attributeFormDefault="unqualified" version="19.1">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" schemaLocation="UnqualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" schemaLocation="QualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" schemaLocation="ReusableAggregateBusinessInformationEntity_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="RequestForTenderInformation" type="rsm:RequestForTenderInformationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>ETR100800</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>RequestForTenderInformation</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>A message by which a tenderer requests tender information from the procuring organization.</ccts:Definition>
        <ccts:BusinessProcessContextValue>Tendering</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>None</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: RequestForTenderInformationType       ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="RequestForTenderInformationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>ETR100800-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>Request For Tender Information. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>A message by which a tenderer requests tender information from the procuring organization.</ccts:Definition>
        <ccts:ObjectClassTerm>Request For Tender Information</ccts:ObjectClassTerm>
        <ccts:BusinessProcessContextValue>Tendering</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>None</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TenderInformationRequestDocument" type="ram:TenderInformationRequestDocumentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>ETR100810</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Request For Tender Information. Tender Information Request_ Document</ccts:DictionaryEntryName>
            <ccts:Version>0.1</ccts:Version>
            <ccts:Definition>Tender Information Request Document for this Request for Tender Information message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Request For Tender Information</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Tender Information Request</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Tendering</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcuringOrganization" type="ram:ProcuringOrganizationType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>ETR100820</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Request For Tender Information. Procuring_ Organization</ccts:DictionaryEntryName>
            <ccts:Version>0.1</ccts:Version>
            <ccts:Definition>Procuring Organization for this Request for Tender Information message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Request For Tender Information</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Organization</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Procuring</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Procurement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TendererOrganization" type="ram:TendererOrganizationType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>ETR100830</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Request For Tender Information. Tenderer_ Organization</ccts:DictionaryEntryName>
            <ccts:Version>0.1</ccts:Version>
            <ccts:Definition>Tenderer Organization for this Request for Tender Information message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Request For Tender Information</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Organization</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Tenderer</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Tendering</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcuringProject" type="ram:ProcuringProjectType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>ETR100840</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Request For Tender Information. Procuring_ Project</ccts:DictionaryEntryName>
            <ccts:Version>0.1</ccts:Version>
            <ccts:Definition>Procuring Project for this Request for Tender Information message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Request For Tender Information</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Project</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Procuring</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>In All Contexts</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
