d18a/mapping/24APR18 v6 2/uncefact/data/standard/TMWCertificateOfWasteReceiptMessage_9p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== TMWCertificateOfWasteReceiptMessage Schema Module          ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 9.1
Schema date:    03NOV17

Copyright (C) UN/CEFACT (OV17). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:TMWCertificateOfWasteReceiptMessage:9" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" targetNamespace="urn:un:unece:uncefact:data:standard:TMWCertificateOfWasteReceiptMessage:9" elementFormDefault="qualified" attributeFormDefault="unqualified" version="9.1">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" schemaLocation="UnqualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" schemaLocation="QualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" schemaLocation="ReusableAggregateBusinessInformationEntity_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="TMWCertificateOfWasteReceiptMessage" type="rsm:TMWCertificateOfWasteReceiptMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UN04000004</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>TMWCertificateOfWasteReceiptMessage</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>Confirmation of the receipt of waste by a consignee or by a recovery or disposal facility at the destination country of Transboundary Movements of Waste (TMW).</ccts:Definition>
        <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: TMWCertificateOfWasteReceiptMessageType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="TMWCertificateOfWasteReceiptMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UN04000004-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>TMW_ Certificate Of Waste Receipt Message. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>Confirmation of the receipt of waste by a consignee or by a recovery or disposal facility at the destination country of Transboundary Movements of Waste (TMW).</ccts:Definition>
        <ccts:ObjectClassTerm>Certificate Of Waste Receipt Message</ccts:ObjectClassTerm>
        <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
        <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="HeaderTMWMessageDocument" type="ram:TMWMessageDocumentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000005</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Certificate Of Waste Receipt Message. Header. TMW Message_ Document</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>Header information of the TMW certificate of waste receipt message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Certificate Of Waste Receipt Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm>Header</ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TMW Message</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReferencedWasteTransportMovement" type="ram:ReferencedWasteTransportMovementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000006</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Certificate Of Waste Receipt Message. Referenced Waste_ Transport Movement</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The reference by which the movement of waste has previously been notified to competent authorities for this TMW certificate of waste receipt message.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Certificate Of Waste Receipt Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Transport Movement</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Referenced Waste</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecipientTMWParty" type="ram:TMWPartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000007</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Certificate Of Waste Receipt Message. Recipient. TMW_ Party</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The party receiving the waste for this TMW certificate of waste receipt message.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Certificate Of Waste Receipt Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm>Recipient</ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Party</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TMW</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReceivedWasteMaterial" type="ram:ReceivedWasteMaterialType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000008</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Certificate Of Waste Receipt Message. Received Waste_ Material</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>Details on the received waste for this TMW certificate of waste receipt message, such as the date of reception, the accepted fraction and the rejected fraction.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Certificate Of Waste Receipt Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Material</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Received Waste</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IntendedNotifiedWasteRecoveryDisposalProcess" type="ram:NotifiedWasteRecoveryDisposalProcessType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000009</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Certificate Of Waste Receipt Message. Intended. Notified Waste Recovery Disposal_ Process</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The recovery or disposal operation intended to be subsequently applied to the accepted fraction of the received waste for this TMW certificate of waste receipt message.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Certificate Of Waste Receipt Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm>Intended</ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Process</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Notified Waste Recovery Disposal</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
