d18a/mapping/24APR18 v6 2/uncefact/data/standard/TMWNotificationDecisionMessage_9p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== TMWNotificationDecisionMessage Schema Module               ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 9.1
Schema date:    03NOV17

Copyright (C) UN/CEFACT (OV17). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:TMWNotificationDecisionMessage:9" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" targetNamespace="urn:un:unece:uncefact:data:standard:TMWNotificationDecisionMessage:9" elementFormDefault="qualified" attributeFormDefault="unqualified" version="9.1">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" schemaLocation="UnqualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" schemaLocation="QualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" schemaLocation="ReusableAggregateBusinessInformationEntity_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="TMWNotificationDecisionMessage" type="rsm:TMWNotificationDecisionMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UN04000031</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>TMWNotificationDecisionMessage</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>A competent authority's decision on one or more Transboundary Movements of Waste (TMW). Any such decision falls into one of the following three categories: consent, consent with conditions and objection.</ccts:Definition>
        <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: TMWNotificationDecisionMessageType    ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="TMWNotificationDecisionMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>UN04000031-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>TMW_ Notification Decision Message. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>A competent authority's decision on one or more Transboundary Movements of Waste (TMW). Any such decision falls into one of the following three categories: consent, consent with conditions and objection.</ccts:Definition>
        <ccts:ObjectClassTerm>Notification Decision Message</ccts:ObjectClassTerm>
        <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
        <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="HeaderTMWMessageDocument" type="ram:TMWMessageDocumentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000032</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Notification Decision Message. Header. TMW Message_ Document</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>Header information of the TMW notification decision message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Notification Decision Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm>Header</ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TMW Message</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WasteMovementTMWAuthorization" type="ram:TMWAuthorizationType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN04000033</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TMW_ Notification Decision Message. Waste Movement. TMW_ Authorization</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>Details on the TMW notification decision, such as whether or not the competent authority consents to the transboundary movement of waste and the date when the decision was reached.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Notification Decision Message</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>TMW</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm>Waste Movement</ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Authorization</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TMW</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Waste Movement</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Basel Convention</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>Environmental Management</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
