d18a/mapping/24APR18 v6 2/uncefact/data/standard/TTProductMessage_2p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== TTProductMessage Schema Module                             ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 2.0
Schema date:    03NOV17

Copyright (C) UN/CEFACT (OV17). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:TTProductMessage:2" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" targetNamespace="urn:un:unece:uncefact:data:standard:TTProductMessage:2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:23" schemaLocation="UnqualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:23" schemaLocation="QualifiedDataType_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:23" schemaLocation="ReusableAggregateBusinessInformationEntity_23p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="TTProductMessage" type="rsm:TTProductMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>f598b1f3-cdb9-4326-824d-d794849d9741</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>TTProductMessage</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>Track and Trace (TT) product information exchange between parties involved in a track and trace process.</ccts:Definition>
        <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: TTProductMessageType                  ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="TTProductMessageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>f598b1f3-cdb9-4326-824d-d794849d9741-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>TT Product Message. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>Track and Trace (TT) product information exchange between parties involved in a track and trace process.</ccts:Definition>
        <ccts:ObjectClassTerm>TT Product Message</ccts:ObjectClassTerm>
        <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TTExchangedDocument" type="ram:TTExchangedDocumentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>a7d130c8-aa7d-43bb-90ea-4391d2716613</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TT Product Message. TT Exchanged_ Document</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The exchanged document details for this TT product message.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>TT Product Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TT Exchanged</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTParty" type="ram:TTPartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>25a5f59f-8da9-4480-b655-e616283e1f20</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TT Product Message. TT_ Party</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The party for this TT product message.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>TT Product Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Party</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TT</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTProduct" type="ram:TTProductType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>5eb9e9f4-78c3-4a77-a8df-9fad89b014cb</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TT Product Message. TT_ Product</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The product for this TT product message.</ccts:Definition>
            <ccts:Cardinality>0..n</ccts:Cardinality>
            <ccts:ObjectClassTerm>TT Product Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Product</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TT</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTLocation" type="ram:TTLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>b91f84d2-ec44-45c2-b159-27ac3ee21fef</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TT Product Message. TT_ Location</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The location for this TT product message.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>TT Product Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Location</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TT</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTProductTradeDelivery" type="ram:TTProductTradeDeliveryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>076077b5-cc6f-4b46-a25a-fc569854d107</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>TT Product Message. TT Product_ Trade Delivery</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The product trade delivery specified for this TT product message.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>TT Product Message</ccts:ObjectClassTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Trade Delivery</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>TT Product</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Traceability</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>Global</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>None</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>In All Contexts</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
